@charset "UTF-8";
$white: #ffffff;
$orange: #fb701d;
$color-base:#47423b;
p{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: $color-base;
  overflow-x: hidden;
}
.h2-second{
  font-size: 50px;
  margin-top: 0px;
  opacity: 0.3;
  margin-left: 11%;
}
.wrapper {
  overflow: hidden;
  width: 100%;
  z-index: 0;
  position: relative;
  max-width: 1920px;
  margin: auto;
}

.orange {
  color: $orange;
}

header {
  height: 1100px;
  width: 100%;
  background: url(../img/bg_header.jpg) no-repeat;
  z-index: 1;
  position: relative;
  background-size: auto 100%;
  background-position: 50%;
}

.top-navigation {
  position: fixed;
  bottom: 10%;
  right: 2%;
  z-index: 1000;
  opacity: .4;
  transition: opacity .15s ease-in-out;
}

/*Самое Верхнее меню*/
.service {
  height: 30px;
  overflow: hidden;

}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: transparent;
}

.uk-offcanvas-bar {
  width: 170px;
  background: none;
}

.uk-offcanvas-bar:after {
  content: "";
  background-color: #222;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-position: 25% center;
  height: 100%;
  overflow: hidden;
  opacity: 0.8;
}

.field-name:after, .field-phone:after, .field-messages:after{
  position: absolute;
  content: '';
  top: -3px;
  right: 0px;
  height: 5px;
  width: 60%;
  background: linear-gradient(left,rgba(255,255,255,0),#fff);
}
.field-name:before, .field-phone:before, .field-messages:before{
  position: absolute;
  content: '';
  bottom: 10px;
  right: 0px;
  height: 1px;
  width: 53%;
  background: linear-gradient(left,rgba(255,255,255,0),#fff);
}

.nav-pc .uk-navbar-nav > li > a {
  color: #fff;
  height: 20px;
  margin: 5px 0px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  padding-right: 3px;
  font-size: 13px;
  padding-left: 10px;
}

.nav-pc .uk-navbar-nav > li.uk-active > a {
  color: #333;
}

.nav-pc .uk-navbar-nav > li:before {
  content: "|";
  position: absolute;
  top: 3px;
  color: white;
}

.nav-pc .uk-navbar-nav > li:first-child:before {
  display: none;
}

/*Конец Самое Верхнее меню*/
header{margin-top: -30px}
/**/

.header {
  max-width: 1024px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.block-header-contact-pc {
  margin: auto;
  max-width: 990px;
  padding-left: 20px;
}

.block-header-contact-pc div {
  padding-left: 0;
}

.header .logo a {
  left: 50%;
  top: 50%;
  width: 258px;
}

.header.uk-align-center ul {
  font-size: 12px;
  text-align: center;
}

span.timeWorkDaysFooter {
  width: 100px;
  display: inline-block;
}

span.timeWorkDays {
  width: 70px;
  display: inline-block;
}

.contact li {
  font-size: 14px;
}

.contact li :last-child {
  margin-top: 14px;
}
.raspisanie{}

.mybutton {
  width: 152px;
  height: 25px;
  border-radius: 10px;
  border: 1px solid $orange;
  background-color: $orange;
  text-align: center;
  color: white;
  margin-top: 14px;
  font-size: 14px;
}

.mybutton:hover {
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.35) inset;
  -webkit-box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.35) inset;
  -moz-box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.35) inset;
  color: #47423b;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  cursor: pointer;
}

button {
  outline: none;
}

/**/
.counter-mobile{

  margin-bottom: 100px;
  position: relative;
  z-index: 0;
  text-align: center;
  .block-akciya-end{
    font-size: 20px;
  }
}
.countdown-3{
  text-align: center;
}
/*Текст на банере*/
.header-zagolovok {
  max-width: 1024px;
  padding-left: 40px;
}

.header-zagolovok-top1-text {
  font-size: 80px;
  font-weight: 100;
  padding-left: 16px;

}

.header-zagolovok-top2-text {
  font-size: 104px;
  font-weight: bold;
  line-height: 70px;
  padding-left: 90px;
/*  text-shadow: -3px 2px 13px rgb(7, 7, 7);*/
  /*color: #575756;*/
}

.header-zagolovok-avg{
  padding-left: 20px;
  margin-top: 20px;
  font-size: 36px;
  text-transform: uppercase;
}

.header-zagolovok-bottom-text {
  max-width: 500px;
  border-left: 5px solid;
  margin-top: 20px!important;
  font-size: 24px;
  padding-left: 20px;
  margin-left: 137px;
}

.top-circle-int {
  height: 565px;
  width: 565px;
  border: 3px solid #fb711d;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: auto;
  margin-top: 8px;
  position: relative;
  background-color: white;
}
.top-circle-int>img{
  width: 100px;
  margin-top: 25px;
}
.block-akciya{
  font-size: 35px
}
.block-akciya-nasvanye{
  font-size: 32px;
  line-height: 20px;
}
.block-akciya-xxxx{
  font-size: 50px;
  margin-left: -33%;
  opacity: 0.2;
  text-decoration: line-through;
}
.block-akciya-skidka{
  font-size: 77px;
  margin-top: -71px;
  display: block;
  height: 70px;
}
.block-akciya-xxxx2{
  color: #47423b;
  font-size: 50px;
  margin-right: -42%;
  display: block;
  margin-top: 10px;
  margin-bottom: -15px;
}
.block-akciya-end{
  color: #47423b;
  font-size: 24px;
}
.out {
  width: 600px;
  margin: auto;
  position: relative;
  margin-top: -60px;
}

.out:after {
  position: absolute;
  content: '';
  background: url(../img/d.svg) no-repeat;
  width: 63%;
  height: 63%;
  left: -285px;
  top: 44px;
  opacity: 0.4;
  background-size: contain;
}

.out:before {
  position: absolute;
  content: '';
  background: url(../img/p.svg) no-repeat;
  background-size: contain;
  width: 63%;
  height: 63%;
  right: -293px;
  bottom: -97px;
  opacity: 0.4;
}

.top-circle-out {
  position: relative;
  height: 595px;
  width: 595px;
  border-radius: 50%;
  margin: 115px auto auto auto;
  padding: 12px 10px 12px 10px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 5;

}

/*Кнопка*/
.submit {
  border-radius: 6px;
  background-color: #fb701d;
  border: none;
  color: #fff;
  padding: 16px 17px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 0px auto 4px auto;
  cursor: pointer;
  min-width: 220px;
  box-shadow: 3px 0 7px 0 rgba(0, 0, 0, .35);
  position: relative;
  z-index: 0;
}

/*Второй экран*/
.second {
  position: relative;
  margin-top: 0px;
  padding-right: 10px;
  /*min-height: 1048px;*/
  /*border: 1px solid #fff;*/
/*  margin-top: 150px;*/
}

/*.second:before{
  position: absolute;
  content: '';
  background: url(../img/right-bg-section.jpg) no-repeat;
  height: 892px;
  width: 237px;
  right: 0;
  top: -255px;
  border: none;
}*/

.right-img {
  position: absolute;
  height: 892px;
  width: 237px;
  right: 0;
  top: 0px;
  background: url(../img/right-bg-section.jpg) no-repeat;
  background-position-x: 0%;
}

.left-img {
  position: absolute;
  width: 791px;
  height: 1510px;
  left: -285px;
  top: 0px;
}

.side-1, .side-2, .side-3, .side-4 {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  position: relative;
  h2 {
    color: $orange;
    font-size: 39px;
    position: relative;
    z-index: 1;
  }
}
.side-3{
  margin-top: 70px;
}
.side-2 .h2-first{
  margin-bottom: 0px;
  color: white;
  margin-left: 11%;
}

.kak-delaem-block-text{
  color: white;
}
.kam-delaem-title.h2-second{
  color: #fadccf;
  opacity: 1;
}

.side-1 {
  /*margin-top: 130px;*/
}
.izbavim-block-1,.izbavim-block-2{
  margin-top: -100px;
}
.side-1-citata {
  border-left: 5px solid #fb701d;
  padding-left: 80px;
  margin-left: 20px;
  font-size: 18px;
  background: url(../img/coma.svg) no-repeat;
  background-size: 60px 46px;
  background-position-x: 10px;
  padding-right: 10px;
  padding-top: 15px;
}

.side-1-descr {
  margin-top: 20px;
}

.implants-descr{
  margin-top: -20px;
  color: $orange;
  font-size: 18px;
}
.list-implants{
  margin-top: 30px;
  position: relative;
}
.list-implants:after {
  position: absolute;
  content: '';
  background: url(../img/fialka1.png) no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
  bottom: -30px;
  left: -35px;
}
.list-implants:before {
  position: absolute;
  content: '';
  background: url(../img/cherry.png) no-repeat;
  width: 359px;
  height: 351px;
  right: -235px;
  background-size: contain;
}
.list-composition{
  color: $orange;
  position: relative;
  left: -135px;
  margin-bottom: 40px;
}
.my-divider-img {
  border-radius: 50%;
  text-align: center;
  float: right;
  background: url(../img/fialka.png) no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  top: -165px;
  position: relative;
  left: -574px;
  width: 150px;
  height: 150px;
}

.my-divider {
  border-radius: 50%;
  background-color: $orange;
  width: 90px;
  height: 90px;
  text-align: center;
  padding-left: 0px;
}
.my-divider-title2{
  position: relative;
  margin-top: -95px;
}
.my-divider-title2 h2{
  margin-left: 35%;
}

.mastopexy-podtitle2{
  margin-left: 100px;
}
.mastopexy-title>h2>span{
  margin-left: 100px;
}
.mastopexy-img-1{
  margin-top: -55px;
  margin-left: 40px;
  position: relative;
  opacity: 0.7;
  z-index: 0;
}
.mastopexy-block-2, .work-block-2{
  margin-top: -25px;
}
.mastopexy-block-3{
  position: relative;
  padding-top: 20px;
}

.mastopexy-block-3:after {
  position: absolute;
  content: '';
  background: url(../img/flower.jpg) no-repeat;
  background-size: contain;
  width: 386px;
  height: 355px;
  left: -29%;
  bottom: -60%;
  z-index: -1;
}
.mastopexy-block-3:before{
  position: absolute;
  content: '';
  background: url(../img/m.svg) no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  width: 450px;
  height: 355px;
  left: -331px;
  top: -56px;
  opacity: 1;
  z-index: 0;
}
.mastopexy-cover, .mastopexy-cover1{
  max-width: none;
  position: absolute;
  left: 77%;
  top: 195px;
  transform: translate(-50%,-50%);
  z-index: -1;
}
.mastopexy-list{
  padding-left: 15%;
}
.mastopexy-form{
  position: relative;
  top:100px;
  margin-bottom: 140px;
}
#item-3{
  margin-left: 30%;
}
.bukva-r:before {
  position: absolute;
  content: '';
  background: url(../img/r.svg) no-repeat;
  background-size: contain;
  width: 327px;
  height: 327px;
  top: -75px;
  left: -500px;
  opacity: .4;
  z-index: -1;
}
.mammoplastika-img:after{
  position: absolute;
  content: '';
  background: url(../img/twig.jpg) no-repeat;
  background-size: contain;
  width: 251px;
  height: 201px;
  left: -100px;
  right: 0px;
  opacity: 1;
  z-index: 1;
  bottom: 30px;
}
.mammoplastika-img:before{
  position: absolute;
  content: '';
  background: url(../img/flow-mammoplastika.jpg) no-repeat;
  background-size: contain;
  width: 300px;
  height: 255px;
  right: -100px;
  opacity: 1;
  z-index: -1;
  bottom: -30px;
}
.list-mammoplastika ul{
  max-width: 90%;
  left: 25px;
}
.list-mammoplastika:after{
  position: absolute;
  content: '';
  background: url(../img/tape.jpg) no-repeat;
  background-size: contain;
  width: 266px;
  height: 229px;
  left: -230px;
  right: 0;
  opacity: 1;
  z-index: -1;
  top: 8px;
}
.list-mammoplastika{
  margin-bottom: 40px;
  margin-left: 200px!important;
  max-width: 760px;
}
.list-mammoplastika:before{
  position: absolute;
  content: '';
  background: url(../img/petal.jpg) no-repeat;
  background-size: contain;
  width: 102px;
  height: 92px;
  right: 30px;
  opacity: 1;
  z-index: 0;
  top: 105px;
}

.mammoplastika-list-body:after{
  position: absolute;
  content: '';
  background: url(../img/petal1.jpg) no-repeat;
  background-size: 90px;
  width: 90px;
  height: 98px;
  left: -120px;
  opacity: 1;
  z-index: 2;
  bottom: -155px;
}
.mammoplastika-list-body:before{
  position: absolute;
  content: '';
  background: url(../img/petal1.jpg) no-repeat;
  width: 32px;
  height: 47px;
  left: 48px;
  opacity: 1;
  z-index: 2;
  bottom: -30px;
  background-position: -23px -100px;
}
.reabilitaciya-block-2{
  margin-top: -25px!important;
  padding-top: 25px;
}
.divider-fon {
  background-color: white;
}

.divider-fon .my-divider-cnt:after {
  background-color: #fff;
}

.divider-fon > span {
  color: #fb711d;
}

.my-divider-cnt, .my-divider-cnt-right {
  font-size: 52px;
  color: white;
  position: relative;
  font-weight: 100;
}

.divider-left {
  margin-left: 5px;
}
.divider-left-text{
  margin: 0 0 0 110px;
}
.divider-left-text-bottom{
  font-size: 50px;
  color: #fee0cd;
}

.divider-right {
  margin-right: 5px;
}

.my-divider-cnt:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 1900px;
  background-color: #fb701d;
  top: 50%;
  left: -1900px;
}
.my-divider-cnt:before{
  position: absolute;
  content: '';
  height: 2px;
  width: 568px;
  background-color: #fb701d;
  top: 50%;
  right: -568px;
}

.my-divider-cnt-right:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 1900px;
  background-color: #fb701d;
  top: 50%;
  right: -1900px;
}

.my-slider {
  overflow: hidden;
  margin-left: -300px;
  border-color: white;
  margin-top: 220px;
}

.uk-slideshow-items {
  height: 100% !important;
}


.draw-line:after {
  position: absolute;
  content: '';
  width: 23px;
  height: 7px;
  left: 0px;
  top: 3px;
  background-color: white;
}

.side-2-flowers:after {
  position: absolute;
  content: '';
  background: url(../img/rose2.png) no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  width: 318px;
  height: 305px;
  left: -213px;
  bottom: -127px;
}

.right2-img {
  position: absolute;
  height: 1170px;
  width: 234px;
  right: 0;
  top: -255px;
  background: url(../img/right-bg.png) no-repeat;
  background-position-x: 0%;
}

.marker-rose, .marker-rose1 {
  list-style: none;
  /*list-style-image: url(../img/marker.jpg);*/
}
.marker-rose li, .marker-rose1 li{
  background: url(../img/marker.jpg) no-repeat center left;
  margin-top: 15px;
  height: 21px;
  padding-left: 35px;
  line-height: 13px;
}
.marker-rose span{
  vertical-align: 7px;
}
.bukva-a:before {
  position: absolute;
  content: '';
  background: url(../img/a.svg) no-repeat;
  background-size: 78%;
  width: 469px;
  height: 390px;
  top: -30px;
  left: -345px;
  opacity: 0.4;
}

.side-4-text:after {
  position: absolute;
  content: '';
  background: url(../img/two-rose.png) no-repeat;
  background-size: 100%;
  width: 265px;
  height: 254px;
  top: 25%;
  right: -40%;
}



.reabilitaciya-bg-bottom:after {
  position: absolute;
  content: '';
  background: url(../img/rose4.png) no-repeat;
  width: 407px;
  height: 284px;
  left: -328px;
  bottom: 0;
}

.list-rosa:after {
  position: absolute;
  content: '';
  background: url(../img/rose5.png) no-repeat;
  background-size: 78%;
  width: 184px;
  height: 165px;
  bottom: -150px;
  left: -60px;
}

.portfolio-bg:after {
  position: absolute;
  content: '';
  background: url(../img/rose6.png) no-repeat;
  background-size: 100%;
  width: 390px;
  height: 272px;
  bottom: -221px;
  right: -330px;
  z-index: 3;
}

.portfolio-bg {
  margin-left: 20px;
}

.block-contacts:after {
  position: absolute;
  content: '';
  background: url(../img/k.svg) no-repeat;
  background-size: 100%;
  width: 29%;
  height: 100%;
  top: -28%;
  left: -16%;
  z-index: 1;
  opacity: 0.4;
}

.addr:before {
  position: absolute;
  content: '';
  background: url(../img/icons/place.svg) no-repeat;
  background-size: 100%;
  width: 19px;
  height: 30px;
  left: -44px;
  top: 30%;
  opacity: 0.4;
}

.shed:before {
  position: absolute;
  content: '';
  background: url(../img/icons/clock.svg) no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  left: -46px;
  top: 30%;
}

.tel:before {
  position: absolute;
  content: '';
  background: url(../img/icons/phone.svg) no-repeat;
  background-size: 100%;
  width: 35px;
  height: 40px;
  left: -46px;
  top: 24%;
}

.addr, .shed, .tel {
  z-index: 1;
}

.wrap-contacts {
  position: relative;
}

.wrap-contacts:after {
  position: absolute;
  background: url(../img/curve.svg) no-repeat;
  content: '';
  -webkit-background-size: 100% 100%;
  background-size: cover;
  width: 100%;
  height: 135%;
  top: 0;
}
.block-contacts:before{
  position: absolute;
  background: url(../img/cherry.jpg) no-repeat;
  content: '';
  -webkit-background-size: 100% 100%;
  background-size: contain;
  width: 238px;
  height: 203px;
  right: -120px;
  z-index: 1;
  top: -10px;
}

.map {
  margin-top: -285px;
  z-index: -10;
  width: 100%;
  height: 900px;
}

.footerTermsTitle {
  padding-top: 20px;
  padding-bottom: 10px;
}

.block-footer-contact-places {
  margin: auto;
  position: relative;
  min-width: 312px;
}

.socseti {
  display: inline;
  text-align: center !important;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 0;
  margin-top: 0 !important;
  color: #47423b;
}

.socseti:hover {
  color: #47423b;
}

.socseti img {
  max-width: 50px;
  max-height: 50px;
}

.footer-rose:after {
  position: absolute;
  content: '';
  background: url(../img/flow-contacts.jpg) no-repeat;
  background-size: contain;
  width: 425px;
  height: 311px;
  bottom: -100px;
  left: -245px;
  z-index: -1;
}

.footer-petal:after{
  position: absolute;
  content: '';
  background: url(../img/petal2.jpg) no-repeat;
  background-size: contain;
  width: 155px;
  height: 155px;
  bottom: 25px;
  right: -150px;
  z-index: -1;
}

.terms {
  font-size: 10px;
  text-align: center;
  margin-bottom: 35px;
}

.mobile-menu-pop-up .uk-icon:hover{
  cursor: pointer;
}
.mobile-menu-pop-up{
  width: 100%;
  margin: auto;
  position: fixed;
  z-index: 100;
  border-radius: 7px;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  margin-left: auto;
  margin-right: auto;
  top: 0;
  padding: 10px;
}
.navigation-pc{
  background-color: rgba(237,110,30,1);
  box-shadow: 3px 2px 30px 0px rgba(50, 50, 50, 0.67);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.navigation-pc>li:last-child{
  padding-right: 15px;
}
.mobile-menu-pop-up:after{
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-position: 25% center;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255,255,255, 0.9);
  border-radius: 7px;
  /* opacity: 0.9; */
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  opacity: 0.8;
}
.mobile-menu-pop-up .adres>ul{
  position:relative;
  list-style: none;
  width: 180px;
  left: 20px;
  margin-bottom: 0px!important;
}

.mobile-menu-pop-up li{
  text-align: left;
}

.mobile-menu-pop-up-close{
  width: 100%;
  margin-top: 5%;
}
#toggle-mobile-contacts ul{
  font-size: 14px;
  li{
    text-align: center;
  }
}
.raspisanie>ul{
  font-size: 15px;
  width: 551px;
  margin-left: 61px;
}
.contact li {
  font-size: 14px; }
.contact li :last-child {
  margin-top: 14px; }

#bingc-phone-button{
  left: 8%;
}
h2.h2-title{
  font-size: 24px;
  color: $color-base;
}

#item-4{
  margin-top: 20px;
  margin-left: -20px;
}

  .bukva-h:after {
    position: absolute;
    content: '';
    background: url(../img/h.svg) no-repeat;
    background-size: contain;
    width: 469px;
    height: 360px;
    top: -120px;
    left: 110px;
    z-index: -1;
    opacity: .4;
  }

.bukva-h:before{
  position: absolute;
  content: '';
  background: url(../img/flow-work.png) no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  width: 224px;
  height: 228px;
  top: -35px;
  left: -200px;
  z-index: 1;
}
.bukva-bg-fon{
  position: absolute;
  top: -10px;
  right: 0px;
  z-index: 1;
}
.twig1-bg-fon{
  position: absolute;
  top: 185px;
  right: -150px;
  z-index: 1;
}
.work-block-2{
  margin-top: -95px;
  margin-bottom: 100px;
}

.portfolio-bg1{
  padding: 20px;
}
.portfolio-bg1:after{
  position: absolute;
  content: '';
  background: url(../img/flow-work1.png) no-repeat;
  background-size: 100%;
  width: 144px;
  height: 146px;
  top: -110px;
  right: -85px;
  z-index: 0;
}
summary{
  outline:none;
}
details[open] h3{
font-size: 16px;
}